<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Home</title>
</head>
<body>
    <h1>Titanic Gender Prediction</h1>
    <p>Make your input here</p>
    <form action="{{url_for('predict')}}" method="post">
        <!-- a text input -->
        <ul>
        <li><label for="survived">Survived:</label>
        <select id="survived" name="survived" required="required">
            <option value="">--Please choose an option--</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select></li>

        <li><label for="age">Age:</label>
            <input type="text" name="age" placeholder="Age" required="required" />
        </li>

        <li><label for="sibsp">Number of siblings/spouses:</label>
            <input type="text" name="sibsp" placeholder="Number between 0 and 5" required="required" />
        </li>
        
        <li><label for="parch">Number of parents/children:</label>
            <input type="text" name="parch" placeholder="Number between 0 and 6" required="required" />
        </li>

        <li><label for="fare">Fare:</label>
            <input type="text" name="fare" placeholder="fare" required="required" />
        </li>

        <li><label for="class">Class:</label>
        <select id="class" name="class" required="required">
            <option value="">--Please choose an option--</option>
            <option value="First">First</option>
            <option value="Second">Second</option>
            <option value="Third">Third</option>
        </select></li>

        <li><label for="embark_town">Embark Town:</label>
            <select id="embark_town" name="embark_town" required="required">
                <option value="">--Please choose an option--</option>
                <option value="Southampton">Southampton</option>
                <option value="Cherbourg">Cherbourg</option>
                <option value="Queenstown">Queenstown</option>
            </select>
        </li>
               

        <li><label for="alone">Was person alone?:</label>
        <select id="alone" name="alone" required="required">
            <option value="">--Please choose an option--</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select></li>

        <!-- submit button -->
        <li><button id="submit" type="submit">Predict</button></li>
        </ul>
    </form>

</body>
</html>